@{
    ViewData["Title"] = "Home Page";
}

@ViewData["Route"]
@ViewData["Message"]
<form method="post">
    <label for="origin">Origin System Name</label>
    <input type="text" id="origin" name="origin" placeholder="Origin System" />
    <br />
    <label for="destination">Destination System Name</label>
    <input type="text" id="destination" name="destination" placeholder="Destination System" />
    <br />
    <p>Ship: Rigged, Implanted Victorieux Luxury Yacht (11.27 AU/s, 328m/s)</p>
    <input type="submit"/>
</form>