@{
    ViewData["Title"] = "Home Page";
}

<div id="titleBlock">
    <img src="~/images/sdp-ico.png" />
    <h1>Multispatial Logistics</h1>
    <h2>Services to you, when you need them</h2>
</div>
<hr />
<div class="contentBlock">
    <a href="https://login.eveonline.com/oauth/authorize/?response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A44349%2Fcallback&client_id=820dc2747f42482f83f2a6e90ab5a8e2&scope=publicData%20esi-location.read_location.v1%20esi-location.read_ship_type.v1%20esi-ui.write_waypoint.v1%20esi-characters.read_fatigue.v1&state=msls"><img id="loginButton" src="~/images/eve-sso.png" /></a>
</div>