@{
    ViewData["Title"] = "Home Page";
}

<div class="page-center">
    <div class="right">
        <h2 class="text-center">Login to Get Started</h2>
        <div class="login">
            <img src="~/img/eve-sso-login-white.png" />
        </div>
    </div>

    <div class="left">
        <div class="feature">
            <img src="~/img/satdish.png" />
            <div>
                <h2>Navigate the Stars</h2>
                <p>Wayfinder syncs with events and times are up to 95% accurate.</p>
            </div>
        </div>
        <div class="feature">
            <img src="~/img/message.png" />
            <div>
                <h2>Get Notified</h2>
                <p>MSLS notifies you of upcoming calendar events, per character.</p>
            </div>
        </div>
        <div class="feature">
            <img src="~/img/graph.png" />
            <div>
                <h2>Manage at a Glance</h2>
                <p>Corp director? See what your members are doing, live, with MSLS.</p>
            </div>
        </div>
    </div>
</div>
