@{
    ViewData["Title"] = "Terms";
}
<h1>Privacy Policy</h1>
<p>Multispatial Logistics, upon the user logging in, stores certain necessary data in order for the application to function correctly. This includes the EVE character's name and linked accounts and their character names, with the ESI refresh token. This is to ensure a smooth user experience throughout the app and prevents the necessity of the user re-adding every account upon login. No other data is stored, and the data stored is not publically accessible and will not be used for other purposes in-game or otherwise.</p>

<h1>CCP Copyright Notice</h1>
<p>All Eve Related Materials are Property Of CCP Games EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.</p>