body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#titleBlock {
    margin: auto;
    margin-bottom: 4vh;
    width: 600px;
}

#titleBlock img {
    float: left;
    height: 105px;
    width: 105px;
}

#titleBlock h1 {
    font-size: 47px;
    margin-left: 135px;
}

#titleBlock h2 {
    font-size: 26px;
    margin-top: -20px;
    margin-left: 135px;
}

#loginBlock {
    display: block;
    font-size: 21px;
    margin: auto;
    margin-top: 25vh;
    width: 290px;
}

#loginBlock img {
    width: 100%;
}

.contentBlock {
    margin: 20px 50px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5vh;
}

footer p {
    margin: auto;
    width: 80%
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
