body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
}

#titleBlock {
    margin: auto;
    margin-bottom: 4vh;
    width: 34%;
}

#titleBlock img {
    float: left;
    height: 5.5em;
    width: 5.5em;
}

#titleBlock h1 {
    font-size: 2.5em;
    margin-left: 7vw;
}

#titleBlock h2 {
    font-size: 1.4em;
    margin-top: -1vw;
    margin-left: 7vw;
}

#loginBlock {
    display: block;
    font-size: 1.12vw;
    margin: auto;
    width: 22%;
}

#loginBlock img {
    width: 100%;
}

.contentBlock {
    margin: 5vh 15em;
}

footer p {
    margin-left: 15em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
